<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name=viewport content="width=device-width,initial-scale=1" />
        <title>PriceRunner Code test</title>

        <% styleSources.forEach(function(src) { %>
            <link rel="stylesheet" href="<%= publicPath + src %>" type="text/css" media="screen" charset="utf-8" />
        <% }) %>
    </head>
    <body>
        <div id="root"></div>
        <% scriptSources.forEach(function(src) { %>
            <script src="<%= publicPath + src %>"></script>
        <% }) %>
    </body>
</html>
